aiohappyeyeballs==2.3.7
aiohttp==3.10.3
aiosignal==1.3.1
altair==5.4.1
annotated-types==0.7.0
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
backoff==2.2.1
bitarray==2.9.2
blinker==1.8.2
cachetools==5.5.0
certifi==2024.7.4
charset-normalizer==3.3.2
ckzg==1.0.2
click==8.1.7
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
cytoolz==0.12.3
dateutils==0.6.12
decorator==5.1.1
duckdb==1.0.0
eth-account==0.11.2
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.5.1
eth-rlp==1.0.1
eth-typing==4.4.0
eth-utils==4.1.1
eth_abi==5.1.0
exceptiongroup==1.2.2
executing==2.1.0
fonttools==4.53.1
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
gw_dsl_parser==0.1.49.1
hexbytes==0.3.1
idna==3.7
importlib_resources==6.4.4
iniconfig==2.0.0
ipylab==1.0.0
ipython==8.18.1
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.13
kanaries_track==0.0.5
kiwisolver==1.4.6
lru-dict==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.6
multidict==6.0.5
narwhals==1.6.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
parsimonious==0.10.0
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pluggy==1.5.0
poly_eip712_structs==0.0.1
prompt_toolkit==3.0.47
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py_clob_client==0.17.5
py_order_utils==0.3.2
pyarrow==17.0.0
pycryptodome==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
Pygments==2.18.0
pygwalker==0.4.9.8
pyparsing==3.1.4
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyunormalize==15.1.0
quickjs==1.19.4
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
rich==13.8.0
rlp==4.0.1
rpds-py==0.20.0
segment-analytics-python==2.2.3
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.33
sqlglot==25.19.0
stack-data==0.6.3
streamlit==1.38.0
tenacity==8.5.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.4.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20240821
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wasmtime==24.0.0
wcwidth==0.2.13
web3==6.20.2
websockets==12.0
widgetsnbextension==4.0.13
yarl==1.9.4
zipp==3.20.1
